body {
    text-align: center;
}

div {
    display: inline-block;
}

#searchbar {
    display: inline-block;
    padding: .5rem 1rem;
}

button {
    display: inline-block;
    padding: .5rem 1rem;
}

#div_for_table {
    display: block;
    margin-top: 1rem;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    border-spacing: 0;
    padding: .25rem;
}